<h1>Burger Boi!</h1>

<h2>Burgers waiting to be eateb</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{name}}<button class="eat" data-id="{{id}}">EAT!</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>
