.pure-g > div {
  box-sizing: border-box;
}
.l-box {
  padding: 2em;
}
.head{
  text-align: center;
  margin: 3em 0em 
}
button{
  margin-left:10px;
  display: inline;
  float: right;
  padding-right: 10px;
}
p {
  padding: 10px;
  margin-top: 5px;
  width: 90%;
  background: #faebd7;
  list-style-type: none;
}
h2{
  margin-right: auto;
}
img{
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4em;;
}
.label {
  font-weight: bold;
}
.center{
  background-color: #F8F8F8;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}